/* base */
* {
  box-sizing: border-box;
}

body {
  background: #0c322d;
  color: #fff;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background-image:
    linear-gradient(
      to right,
      rgba(2, 2, 7, 1) 0%,      /* fully dark at the left */
      rgba(5, 5, 7, 0.95) 25%,  /* still very dark */
      rgba(9, 9, 20, 0.85) 50%, /* mid fade */
      rgba(6, 6, 19, 0.55) 75%, /* softer fade */
      rgba(6, 6, 19, 0) 100%    /* fully transparent at far right */
    ),
    url(../img/background.jpg);

  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

/* main */
main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: #0e9a88;
  transition: 0.3s ease;
}

/* menu buttons */
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-in;
}

.menu-btn.close {
  transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(90deg) translate(9px, 10px);
}

.menu-btn.close .btn-line:nth-child(2) {
  transform: rotate(45deg);
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-90deg) translate(7px, 10px);
}

/* menu */
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: black;
  list-style: none;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.5s ease-in;
}

.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #0c322d;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s ease-in;
}

.menu-branding.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  background: url("../img/portrait.jpg") center 10% / cover no-repeat;
}

.menu .nav-item {
  transform: translate3d(-600px, 0, 0);
  transition: all 0.5s ease-in;
}

.menu .nav-item.show {
    transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #0e9a88;
}

.menu .nav-link {
  display: inline-block;
  font-size: 30px;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-in;
}

.menu .nav-link:hover {
  color: #0e9a88;
}

/* stagger animation */
.nav-item:nth-child(1) { transition-delay: 0.07s; }
.nav-item:nth-child(2) { transition-delay: 0.14s; }
.nav-item:nth-child(3) { transition-delay: 0.21s; }
.nav-item:nth-child(4) { transition-delay: 0.28s; }

/* name and icons */
#home .name {
  display: grid;
  grid-template-rows: auto 1rem auto auto; 
  justify-items: center; 
  text-align: center;
  min-height: 50vh;
}

.page_heading {
  margin-bottom: 3rem;
}

.text-secondary {
  color: #0e9a88; 
}

.lg-heading h1{
  display: flex;
  gap: 0.5rem; 
  font-size: 5rem;
  margin-bottom: 5rem;
  line-height: 1;
}

.sm-heading h2 {
  font-size: 2rem;
  margin: 0;
  padding-top: 1rem;
  background: rgba(15, 62, 56, 0.5);
  border-bottom: 2px solid #0e9a88;
}

.icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  padding-top: 5rem;
}

.icons a {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.icons a:hover {
  color: #0e9a88;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  #home .name {
    flex-direction: column;
    justify-items: left; 
    text-align: left;
    min-height: 50vh;
    gap: 0.5rem;
  }
}

/* about and jobs */
#about-info {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.avatar {
  width: 220px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid #0e9a88;
  display: block;
  margin: 0 auto;
}

.bio-image img {
  object-fit: cover;
  object-position: center 10%;
}

.job {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #114740;
  padding: 0.5rem;
  border-right: 5px solid #0e9a88;
}

.job img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 3px solid #061917;
  transition: 0.3s ease;
}

.job img:hover {
  opacity: 0.7;
  border-radius: 12px;
  border-color: #0e9a88;
  box-shadow: 0 0 8px #0e9a88;
}

@media (min-width: 768px) {
#about-info {
  grid-template-columns: repeat(3, 1fr);
}
.bio {
  grid-column: 2 / span 2;
}
}

/* projects */
.projects {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.projects img {
  width: 100%;
  border: 3px solid #061917;
  transition: 0.3s ease;
}

.projects img:hover {
  opacity: 0.7;
  border-radius: 12px;
  border-color: #0e9a88;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.item {
  background: #114740;
  padding: 0.5rem;
  border-radius: 8px;
}

/* boxes */
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.boxes div {
  font-size: 1.2rem;
  border: 3px #fff solid;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.8rem;
  transition: all 0.5s ease-in;
}

.boxes div:hover {
  padding: 1rem 2rem;
  background: #0e9a88;
  color: #fff;
}

/* buttons */
.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;
  border: 0;
}

.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  border-radius: 5px;
  background: #0e9a88;
  color: #fff;
}

.btn-dark {
  background: black;
  color: #2aca25;
}

.btn-light {
  background: #63daca;
  color: #0a3809;
}

/* footer */
#main-footer {
  text-align: center;
  padding: 1rem;
  background: #020908;
  color: #fff;
}
