.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.menu-btn.close {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(90deg) translate(9px, 10px);
  transform: rotate(90deg) translate(9px, 10px); }

.menu-btn.close .btn-line:nth-child(2) {
  -webkit-transform: rotate(45deg) translate(0px, 0px);
  transform: rotate(45deg) translate(0px, 0px); }

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-90deg) translate(7px, 10px);
  transform: rotate(-90deg) translate(7px, 10px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }

.menu.show {
  visibility: visible; }

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden; }

.menu-nav {
  margin: 0;
  padding: 0;
  background: black;
  list-style: none;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.menu-branding {
  background: #0c322d;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("../img/portrait.jpg");
  background-size: cover;
  opacity: 1;
  border-radius: 50%;
  border: solid 3px #0e9a88; }

.menu .nav-item {
  -webkit-transform: translate3d(-600px, 0, 0);
  transform: translate3d(-600px, 0, 0);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.menu .nav-item.current > a {
  color: #0e9a88; }

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.menu .nav-link:hover {
  color: #0e9a88; }

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
  transition-delay: 0.07s; }

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
  transition-delay: 0.14s; }

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
  transition-delay: 0.21s; }

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
  transition-delay: 0.28s; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #0c322d;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Verdana, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

body#bg-img {
  opacity: 1;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #0c0c13), color-stop(40%, rgba(12, 12, 19, 0.9)), color-stop(70%, rgba(12, 12, 19, 0.7)), to(rgba(12, 12, 19, 0))), url(../img/background.jpg);
  background-image: linear-gradient(to right, #0c0c13 10%, rgba(12, 12, 19, 0.9) 40%, rgba(12, 12, 19, 0.7) 70%, rgba(12, 12, 19, 0) 100%), url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover; }

body#bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(12, 50, 45, 0.3); }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }

h1.lg-heading, h2.lg-heading, h3.lg-heading {
  font-size: 5rem; }

h1.sm-heading, h2.sm-heading, h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(15, 62, 56, 0.5); }

.name {
  line-height: 0.8;
  margin-top: 25vh;
  padding: 15px;
  text-align: center;
}

.last-name {
  margin-left: 150px; }

.headers {
  text-align: left; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #0e9a88; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }

main .icons {
  margin-top: 1rem; }

main .icons a {
  padding: 0.4rem; }

main .icons a:hover {
  color: #0e9a88;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

main#home {
  overflow: hidden; }

.about-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  -ms-grid-columns: 1fr 3;
  grid-template-columns: repeat(3, 1fr); }

.about-info .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  border: #0e9a88 3px solid;
  background-size: cover; }

.about-info .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio; }

.about-info .job-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: job1; }

.about-info .job-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: job2; }

.about-info .job-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: job3; }

.about-info .job {
  background: #114740;
  padding: 0.5rem;
  border-right: #0e9a88 5px solid; }

.about-info .job img {
  width: 100%;
  border: 3px #061917 solid; }

.about-info .job img:hover {
  opacity: 0.5;
  border-radius: 20px;
  border-color: #0e9a88;
  -webkit-box-shadow: 1px 1px 5px #0e9a88;
  box-shadow: 1px 1px 5px #0e9a88;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: 1fr 3;
  grid-template-columns: repeat(3, 1fr); }

.projects img {
  width: 100%;
  border: 3px #061917 solid; }

.projects img:hover {
  opacity: 0.5;
  border-radius: 20px;
  border-color: #0e9a88;
  -webkit-box-shadow: 1px 1px 5px #0e9a88;
  box-shadow: 1px 1px 5px #0e9a88;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem; }

.boxes div {
  font-size: 1.2rem;
  border: 3px #fff solid;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.8rem;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.boxes div:hover {
  padding: 1rem 2rem;
  background: #0e9a88;
  color: #fff; }

.boxes div:hover span {
  color: #fff; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }

.btn:hover, .btn-dark:hover, .btn-light:hover {
  border-radius: 5px;
  background: #0e9a88;
  color: #fff;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.btn-dark {
  background: black;
  color: #2aca25; }

.btn-light {
  background: #63daca;
  color: #0a3809; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #020908;
  color: #fff;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    -ms-grid-columns: 1fr 4;
    grid-template-columns: repeat(4, 1fr); }
  #work-header-resp {
    padding-bottom: 1.2rem; }
  .gy-resp {
    margin-bottom: 18px; }
  .lastOnLg {
    margin-left: 110px; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    -ms-grid-columns: 1fr 3;
    grid-template-columns: repeat(3, 1fr); }
  #work-header-resp {
    padding-bottom: 1.2rem; }
  .gy-resp {
    margin-bottom: 18px; }
  .lastOnLg {
    margin-left: 110px; } }

@media screen and (min-width: 501px) and (max-width: 768px) {
  main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .gy-resp {
    padding-bottom: 12px; }
  .contact-md {
    padding-bottom: -5px; }
  .name-resp {
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 4rem;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #work-header-resp {
    padding-bottom: 1.2rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
  ul.menu-nav.show,
  div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  .menu-branding .portrait {
    background: url(../img/portrait2.jpg);
    width: 150px;
    height: 150px;
    background-size: cover; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .projects {
    -ms-grid-columns: 1fr 2;
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 0px) and (max-width: 500px) {
  main #home h1, h2 {
    margin-top: 10vh; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .work-sm {
    padding-bottom: 0;
    margin-bottom: 0; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
  ul.menu-nav.show,
  div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  .menu-branding .portrait {
    background: url(../img/portrait2.jpg);
    width: 150px;
    height: 150px;
    background-size: cover; }
  .projects {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .name-resp {
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 4rem;
    margin-left: 0;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

/*# sourceMappingURL=main.css.map */
