//widescreens
@include mediaXL{
  .projects{
    grid-template-columns: repeat(4, 1fr);
  }
  #work-header-resp{
    padding-bottom: 1.2rem;
  }
  .gy-resp{
    margin-bottom:18px;
  }

  .lastOnLg{
    margin-left: 110px;
  }

}

//desktops & laptops
@include mediaLg{
  .projects{
    grid-template-columns: repeat(3, 1fr);
  }
  #work-header-resp{
    padding-bottom: 1.2rem;
  }

  .gy-resp{
    margin-bottom:18px;
  }
  
  .lastOnLg{
    margin-left: 110px;
  }
}

//tablets & small laptops
@include mediaMd{
  main{
    align-items: center;
    text-align: center;
  }

  .gy-resp{
    padding-bottom: 12px;
  }
  .contact-md{
    padding-bottom: -5px;
  }

  .name-resp{
    @include responsive;
  }

  #work-header-resp{
    padding-bottom: 1.2rem;
  }

  ul.menu-nav,
  div.menu-branding{
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0,0,0);
    }
  }

  .menu-nav{
    height: 75vh;
    transform: translate3d(0, -100%, 0);
    font-size: 24px;
  }

  .menu-branding{
    @include brandMe;
  }

  .about-info{
    @include about;
  }

  .projects{
    grid-template-columns: repeat(2, 1fr);
  }
}

//smartphones
@include mediaSm{
  main #home h1,h2{
    margin-top: 10vh;
  }

  .about-info{
    @include about;
  }

  .work-sm{
    padding-bottom:0;
    margin-bottom: 0;
  }

  ul.menu-nav,
  div.menu-branding{
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0,0,0);
    }
  }

  .menu-nav{
    height: 75vh;
    transform: translate3d(0, -100%, 0);
    font-size: 24px;
  }

  .menu-branding{
    @include brandMe;
  }

  .projects{
    grid-template-columns: 1fr;
  }

  .name-resp{
    @include responsive;
  }
}